# Summary File 1 (SF1) Data

See https://api.census.gov/data/2010/dec/sf1.html.

In [1]:
# So we can run from within the censusdis project and find the packages we need.
import os
import sys

sys.path.append(
    os.path.join(
        os.path.abspath(os.path.join(os.path.curdir, os.path.pardir, os.path.pardir))
    )
)

In [2]:
import censusdis.data as ced

## Summary File 1

In [3]:
DATASET = "dec/sf1"
YEAR = 2010

### What groups are in the dataset?

In [4]:
df_groups = ced.variables.all_groups(DATASET, YEAR)
df_groups.head()

   DATASET  YEAR GROUP                                        DESCRIPTION
0  dec/sf1  2010    H1                                      HOUSING UNITS
1  dec/sf1  2010   H10         TOTAL POPULATION IN OCCUPIED HOUSING UNITS
2  dec/sf1  2010   H11  TOTAL POPULATION IN OCCUPIED HOUSING UNITS BY ...
3  dec/sf1  2010  H11A  TOTAL POPULATION IN OCCUPIED HOUSING UNITS BY ...
4  dec/sf1  2010  H11B  TOTAL POPULATION IN OCCUPIED HOUSING UNITS BY ...

In [5]:
df_groups[df_groups["GROUP"].str.startswith("PCT")]

     DATASET  YEAR   GROUP                                        DESCRIPTION
249  dec/sf1  2010    PCT1  AMERICAN INDIAN AND ALASKA NATIVE ALONE WITH O...
250  dec/sf1  2010   PCT10  NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALO...
251  dec/sf1  2010   PCT11              HISPANIC OR LATINO BY SPECIFIC ORIGIN
252  dec/sf1  2010   PCT12                                         SEX BY AGE
253  dec/sf1  2010  PCT12A                           SEX BY AGE (WHITE ALONE)
..       ...   ...     ...                                                ...
328  dec/sf1  2010    PCT5  ASIAN ALONE WITH ONE ASIAN CATEGORY FOR SELECT...
329  dec/sf1  2010    PCT6  ASIAN ALONE WITH ONE OR MORE ASIAN CATEGORIES ...
330  dec/sf1  2010    PCT7  ASIAN ALONE OR IN COMBINATION WITH ONE OR MORE...
331  dec/sf1  2010    PCT8  NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALO...
332  dec/sf1  2010    PCT9  NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALO...

[84 rows x 4 columns]

### What variables are in the PCT12 group (as a tree)?

In [6]:
group = "PCT12"
ced.variables.group_tree(DATASET, YEAR, group)

+ Errata of Total (PCT012001ERR)
+ Total (PCT012001)
    + Male (PCT012002)
        + Under 1 year (PCT012003)
        + 1 year (PCT012004)
        + 2 years (PCT012005)
        + 3 years (PCT012006)
        + 4 years (PCT012007)
        + 5 years (PCT012008)
        + 6 years (PCT012009)
        + 7 years (PCT012010)
        + 8 years (PCT012011)
        + 9 years (PCT012012)
        + 10 years (PCT012013)
        + 11 years (PCT012014)
        + 12 years (PCT012015)
        + 13 years (PCT012016)
        + 14 years (PCT012017)
        + 15 years (PCT012018)
        + 16 years (PCT012019)
        + 17 years (PCT012020)
        + 18 years (PCT012021)
        + 19 years (PCT012022)
        + 20 years (PCT012023)
        + 21 years (PCT012024)
        + 22 years (PCT012025)
        + 23 years (PCT012026)
        + 24 years (PCT012027)
        + 25 years (PCT012028)
        + 26 years (PCT012029)
        + 27 years (PCT012030)
        + 28 years (PCT012031)
        + 29 years (PCT012032)
        + 30 years (PCT012033)
        + 31 years (PCT012034)
        + 32 years (PCT012035)
        + 33 years (PCT012036)
        + 34 years (PCT012037)
        + 35 years (PCT012038)
        + 36 years (PCT012039)
        + 37 years (PCT012040)
        + 38 years (PCT012041)
        + 39 years (PCT012042)
        + 40 years (PCT012043)
        + 41 years (PCT012044)
        + 42 years (PCT012045)
        + 43 years (PCT012046)
        + 44 years (PCT012047)
        + 45 years (PCT012048)
        + 46 years (PCT012049)
        + 47 years (PCT012050)
        + 48 years (PCT012051)
        + 49 years (PCT012052)
        + 50 years (PCT012053)
        + 51 years (PCT012054)
        + 52 years (PCT012055)
        + 53 years (PCT012056)
        + 54 years (PCT012057)
        + 55 years (PCT012058)
        + 56 years (PCT012059)
        + 57 years (PCT012060)
        + 58 years (PCT012061)
        + 59 years (PCT012062)
        + 60 years (PCT012063)
        + 61 years (PCT012064)
        + 62 years (PCT012065)
        + 63 years (PCT012066)
        + 64 years (PCT012067)
        + 65 years (PCT012068)
        + 66 years (PCT012069)
        + 67 years (PCT012070)
        + 68 years (PCT012071)
        + 69 years (PCT012072)
        + 70 years (PCT012073)
        + 71 years (PCT012074)
        + 72 years (PCT012075)
        + 73 years (PCT012076)
        + 74 years (PCT012077)
        + 75 years (PCT012078)
        + 76 years (PCT012079)
        + 77 years (PCT012080)
        + 78 years (PCT012081)
        + 79 years (PCT012082)
        + 80 years (PCT012083)
        + 81 years (PCT012084)
        + 82 years (PCT012085)
        + 83 years (PCT012086)
        + 84 years (PCT012087)
        + 85 years (PCT012088)
        + 86 years (PCT012089)
        + 87 years (PCT012090)
        + 88 years (PCT012091)
        + 89 years (PCT012092)
        + 90 years (PCT012093)
        + 91 years (PCT012094)
        + 92 years (PCT012095)
        + 93 years (PCT012096)
        + 94 years (PCT012097)
        + 95 years (PCT012098)
        + 96 years (PCT012099)
        + 97 years (PCT012100)
        + 98 years (PCT012101)
        + 99 years (PCT012102)
        + 100 to 104 years (PCT012103)
        + 105 to 109 years (PCT012104)
        + 110 years and over (PCT012105)
    + Female (PCT012106)
        + Under 1 year (PCT012107)
        + 1 year (PCT012108)
        + 2 years (PCT012109)
        + 3 years (PCT012110)
        + 4 years (PCT012111)
        + 5 years (PCT012112)
        + 6 years (PCT012113)
        + 7 years (PCT012114)
        + 8 years (PCT012115)
        + 9 years (PCT012116)
        + 10 years (PCT012117)
        + 11 years (PCT012118)
        + 12 years (PCT012119)
        + 13 years (PCT012120)
        + 14 years (PCT012121)
        + 15 years (PCT012122)
        + 16 years (PCT012123)
        + 17 years (PCT012124)
        + 18 years (PCT012125)
        + 19 years (PCT012126)
        + 20 years (PCT012127)
        + 21 years (PCT012128)
        + 22 years (PCT012129)
        + 23 years (PCT012130)
        + 24 years (PCT012131)
        + 25 years (PCT012132)
        + 26 years (PCT012133)
        + 27 years (PCT012134)
        + 28 years (PCT012135)
        + 29 years (PCT012136)
        + 30 years (PCT012137)
        + 31 years (PCT012138)
        + 32 years (PCT012139)
        + 33 years (PCT012140)
        + 34 years (PCT012141)
        + 35 years (PCT012142)
        + 36 years (PCT012143)
        + 37 years (PCT012144)
        + 38 years (PCT012145)
        + 39 years (PCT012146)
        + 40 years (PCT012147)
        + 41 years (PCT012148)
        + 42 years (PCT012149)
        + 43 years (PCT012150)
        + 44 years (PCT012151)
        + 45 years (PCT012152)
        + 46 years (PCT012153)
        + 47 years (PCT012154)
        + 48 years (PCT012155)
        + 49 years (PCT012156)
        + 50 years (PCT012157)
        + 51 years (PCT012158)
        + 52 years (PCT012159)
        + 53 years (PCT012160)
        + 54 years (PCT012161)
        + 55 years (PCT012162)
        + 56 years (PCT012163)
        + 57 years (PCT012164)
        + 58 years (PCT012165)
        + 59 years (PCT012166)
        + 60 years (PCT012167)
        + 61 years (PCT012168)
        + 62 years (PCT012169)
        + 63 years (PCT012170)
        + 64 years (PCT012171)
        + 65 years (PCT012172)
        + 66 years (PCT012173)
        + 67 years (PCT012174)
        + 68 years (PCT012175)
        + 69 years (PCT012176)
        + 70 years (PCT012177)
        + 71 years (PCT012178)
        + 72 years (PCT012179)
        + 73 years (PCT012180)
        + 74 years (PCT012181)
        + 75 years (PCT012182)
        + 76 years (PCT012183)
        + 77 years (PCT012184)
        + 78 years (PCT012185)
        + 79 years (PCT012186)
        + 80 years (PCT012187)
        + 81 years (PCT012188)
        + 82 years (PCT012189)
        + 83 years (PCT012190)
        + 84 years (PCT012191)
        + 85 years (PCT012192)
        + 86 years (PCT012193)
        + 87 years (PCT012194)
        + 88 years (PCT012195)
        + 89 years (PCT012196)
        + 90 years (PCT012197)
        + 91 years (PCT012198)
        + 92 years (PCT012199)
        + 93 years (PCT012200)
        + 94 years (PCT012201)
        + 95 years (PCT012202)
        + 96 years (PCT012203)
        + 97 years (PCT012204)
        + 98 years (PCT012205)
        + 99 years (PCT012206)
        + 100 to 104 years (PCT012207)
        + 105 to 109 years (PCT012208)
        + 110 years and over (PCT012209)

### What variables in the group are leaves of the tree?

In [7]:
leaves = ced.variables.group_leaves(DATASET, YEAR, group)

str(leaves)

"['PCT012001ERR', 'PCT012003', 'PCT012004', 'PCT012005', 'PCT012006', 'PCT012007', 'PCT012008', 'PCT012009', 'PCT012010', 'PCT012011', 'PCT012012', 'PCT012013', 'PCT012014', 'PCT012015', 'PCT012016', 'PCT012017', 'PCT012018', 'PCT012019', 'PCT012020', 'PCT012021', 'PCT012022', 'PCT012023', 'PCT012024', 'PCT012025', 'PCT012026', 'PCT012027', 'PCT012028', 'PCT012029', 'PCT012030', 'PCT012031', 'PCT012032', 'PCT012033', 'PCT012034', 'PCT012035', 'PCT012036', 'PCT012037', 'PCT012038', 'PCT012039', 'PCT012040', 'PCT012041', 'PCT012042', 'PCT012043', 'PCT012044', 'PCT012045', 'PCT012046', 'PCT012047', 'PCT012048', 'PCT012049', 'PCT012050', 'PCT012051', 'PCT012052', 'PCT012053', 'PCT012054', 'PCT012055', 'PCT012056', 'PCT012057', 'PCT012058', 'PCT012059', 'PCT012060', 'PCT012061', 'PCT012062', 'PCT012063', 'PCT012064', 'PCT012065', 'PCT012066', 'PCT012067', 'PCT012068', 'PCT012069', 'PCT012070', 'PCT012071', 'PCT012072', 'PCT012073', 'PCT012074', 'PCT012075', 'PCT012076', 'PCT012077', 'PCT012078', 'PCT012079', 'PCT012080', 'PCT012081', 'PCT012082', 'PCT012083', 'PCT012084', 'PCT012085', 'PCT012086', 'PCT012087', 'PCT012088', 'PCT012089', 'PCT012090', 'PCT012091', 'PCT012092', 'PCT012093', 'PCT012094', 'PCT012095', 'PCT012096', 'PCT012097', 'PCT012098', 'PCT012099', 'PCT012100', 'PCT012101', 'PCT012102', 'PCT012103', 'PCT012104', 'PCT012105', 'PCT012107', 'PCT012108', 'PCT012109', 'PCT012110', 'PCT012111', 'PCT012112', 'PCT012113', 'PCT012114', 'PCT012115', 'PCT012116', 'PCT012117', 'PCT012118', 'PCT012119', 'PCT012120', 'PCT012121', 'PCT012122', 'PCT012123', 'PCT012124', 'PCT012125', 'PCT012126', 'PCT012127', 'PCT012128', 'PCT012129', 'PCT012130', 'PCT012131', 'PCT012132', 'PCT012133', 'PCT012134', 'PCT012135', 'PCT012136', 'PCT012137', 'PCT012138', 'PCT012139', 'PCT012140', 'PCT012141', 'PCT012142', 'PCT012143', 'PCT012144', 'PCT012145', 'PCT012146', 'PCT012147', 'PCT012148', 'PCT012149', 'PCT012150', 'PCT012151', 'PCT012152', 'PCT012153', 'PCT012154', 'PCT012155', 'PCT012156', 'PCT012157', 'PCT012158', 'PCT012159', 'PCT012160', 'PCT012161', 'PCT012162', 'PCT012163', 'PCT012164', 'PCT012165', 'PCT012166', 'PCT012167', 'PCT012168', 'PCT012169', 'PCT012170', 'PCT012171', 'PCT012172', 'PCT012173', 'PCT012174', 'PCT012175', 'PCT012176', 'PCT012177', 'PCT012178', 'PCT012179', 'PCT012180', 'PCT012181', 'PCT012182', 'PCT012183', 'PCT012184', 'PCT012185', 'PCT012186', 'PCT012187', 'PCT012188', 'PCT012189', 'PCT012190', 'PCT012191', 'PCT012192', 'PCT012193', 'PCT012194', 'PCT012195', 'PCT012196', 'PCT012197', 'PCT012198', 'PCT012199', 'PCT012200', 'PCT012201', 'PCT012202', 'PCT012203', 'PCT012204', 'PCT012205', 'PCT012206', 'PCT012207', 'PCT012208', 'PCT012209']"

### All variables in the group as a list

In [8]:
variables = ced.variables.group_variables(DATASET, YEAR, group)

str(variables)

"['PCT012001', 'PCT012001ERR', 'PCT012002', 'PCT012003', 'PCT012004', 'PCT012005', 'PCT012006', 'PCT012007', 'PCT012008', 'PCT012009', 'PCT012010', 'PCT012011', 'PCT012012', 'PCT012013', 'PCT012014', 'PCT012015', 'PCT012016', 'PCT012017', 'PCT012018', 'PCT012019', 'PCT012020', 'PCT012021', 'PCT012022', 'PCT012023', 'PCT012024', 'PCT012025', 'PCT012026', 'PCT012027', 'PCT012028', 'PCT012029', 'PCT012030', 'PCT012031', 'PCT012032', 'PCT012033', 'PCT012034', 'PCT012035', 'PCT012036', 'PCT012037', 'PCT012038', 'PCT012039', 'PCT012040', 'PCT012041', 'PCT012042', 'PCT012043', 'PCT012044', 'PCT012045', 'PCT012046', 'PCT012047', 'PCT012048', 'PCT012049', 'PCT012050', 'PCT012051', 'PCT012052', 'PCT012053', 'PCT012054', 'PCT012055', 'PCT012056', 'PCT012057', 'PCT012058', 'PCT012059', 'PCT012060', 'PCT012061', 'PCT012062', 'PCT012063', 'PCT012064', 'PCT012065', 'PCT012066', 'PCT012067', 'PCT012068', 'PCT012069', 'PCT012070', 'PCT012071', 'PCT012072', 'PCT012073', 'PCT012074', 'PCT012075', 'PCT012076', 'PCT012077', 'PCT012078', 'PCT012079', 'PCT012080', 'PCT012081', 'PCT012082', 'PCT012083', 'PCT012084', 'PCT012085', 'PCT012086', 'PCT012087', 'PCT012088', 'PCT012089', 'PCT012090', 'PCT012091', 'PCT012092', 'PCT012093', 'PCT012094', 'PCT012095', 'PCT012096', 'PCT012097', 'PCT012098', 'PCT012099', 'PCT012100', 'PCT012101', 'PCT012102', 'PCT012103', 'PCT012104', 'PCT012105', 'PCT012106', 'PCT012107', 'PCT012108', 'PCT012109', 'PCT012110', 'PCT012111', 'PCT012112', 'PCT012113', 'PCT012114', 'PCT012115', 'PCT012116', 'PCT012117', 'PCT012118', 'PCT012119', 'PCT012120', 'PCT012121', 'PCT012122', 'PCT012123', 'PCT012124', 'PCT012125', 'PCT012126', 'PCT012127', 'PCT012128', 'PCT012129', 'PCT012130', 'PCT012131', 'PCT012132', 'PCT012133', 'PCT012134', 'PCT012135', 'PCT012136', 'PCT012137', 'PCT012138', 'PCT012139', 'PCT012140', 'PCT012141', 'PCT012142', 'PCT012143', 'PCT012144', 'PCT012145', 'PCT012146', 'PCT012147', 'PCT012148', 'PCT012149', 'PCT012150', 'PCT012151', 'PCT012152', 'PCT012153', 'PCT012154', 'PCT012155', 'PCT012156', 'PCT012157', 'PCT012158', 'PCT012159', 'PCT012160', 'PCT012161', 'PCT012162', 'PCT012163', 'PCT012164', 'PCT012165', 'PCT012166', 'PCT012167', 'PCT012168', 'PCT012169', 'PCT012170', 'PCT012171', 'PCT012172', 'PCT012173', 'PCT012174', 'PCT012175', 'PCT012176', 'PCT012177', 'PCT012178', 'PCT012179', 'PCT012180', 'PCT012181', 'PCT012182', 'PCT012183', 'PCT012184', 'PCT012185', 'PCT012186', 'PCT012187', 'PCT012188', 'PCT012189', 'PCT012190', 'PCT012191', 'PCT012192', 'PCT012193', 'PCT012194', 'PCT012195', 'PCT012196', 'PCT012197', 'PCT012198', 'PCT012199', 'PCT012200', 'PCT012201', 'PCT012202', 'PCT012203', 'PCT012204', 'PCT012205', 'PCT012206', 'PCT012207', 'PCT012208', 'PCT012209']"

### Dowload data for the leaf variables

In [9]:
df_data = ced.download(DATASET, YEAR, leaves, state="*")

In [10]:
df_data.head()

,STATE,PCT012001ERR,PCT012003,PCT012004,PCT012005,PCT012006,PCT012007,PCT012008,PCT012009,PCT012010,...,PCT012200,PCT012201,PCT012202,PCT012203,PCT012204,PCT012205,PCT012206,PCT012207,PCT012208,PCT012209
0,01,T1_POP$0400000US01,30465,30587,31607,31725,30881,30898,31001,30828,...,2061,1744,1344,997,715,464,384,583,53,3
1,02,T1_POP$0400000US02,5590,5687,5665,5486,5468,5158,5248,5178,...,110,97,77,53,41,28,14,28,0,0
2,04,None,44652,45904,47366,47916,46724,46355,46422,46063,...,2688,2089,1500,1209,845,545,379,611,35,3
3,05,T1_POP$0400000US05,19735,19650,20467,20975,20123,20246,19971,20132,...,1481,1202,934,774,573,323,264,445,39,3
4,06,None,252121,254358,264336,264157,259084,258171,255433,253309,...,16200,13016,10189,7823,5747,4009,2748,4309,378,23